.app-footer {
    background: rgba(204, 30, 36, 0.934);
    width: 140%;
    margin-left: -20%;
    margin-right: -20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 12.5em;
    padding-top: 1em;
}